<!-- <app-upload></app-upload> -->
<button (click)="add()">Add</button>
<!-- <mat-divider></mat-divider>

<mat-slider min="1" max="100" step="1" value="1"></mat-slider>

<i class="fab fa-accessible-icon"></i> -->

<div *ngIf="createField ">
    <form class="example-form">
      <label for="Image">Image File</label>
      <input type="file" (change)="upload($event)">
      <button (click)="uploadImage()">Upload Image</button>
      <!-- <img *ngIf="currentFilePath" src="currentFilePath">
      <input type="file" multiple=false (change)="importImages($event)"> -->
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter Name" name="name" type="text" [(ngModel)]="name">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Age</mat-label>
          <input matInput placeholder="Enter Age" name="age" type="number" [(ngModel)]="age">
        </mat-form-field>
      </form>
      <button (click)="create()">Create</button>
</div>

<!-- <div *ngFor="let item of items">
  Name: {{item.name}}
  Age: {{item.age}}
  <button (click)="update(item)">Update</button>
  <button (click)="delete(item)">Delete</button>
</div> -->


<div class="list-group users-list">
  <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="row">
      <div class="col col-md-2 image-col ">
        <img class="image" [src]="item.imagePath">
      </div>
      <div class="col col-md-7 text-col">
        <h5 class="mb-1"><!-- {{item.payload.doc.data().name}} --> {{item.name}}</h5>
        <small class="text-danger">Age: {{item.age}}</small>
      </div>
      <div class="col col-md-3 actions-col">
       <button  style="margin-bottom: 5px; background:#4478ac; color: #fff; border:none; border-radius: 10px;" (click)="update(item)"> Update</button>
        <button style="margin-bottom: 5px; background:red; color: #fff; border:none; border-radius: 10px;"  (click)="delete(item)">Delete</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isToUpdate">
    <form class="example-form">
      <div class="col col-md-2 image-col ">
        <img class="image" [src]="itemToUpdate.imagePath"  height="50" width="50">
      </div>

       <label for="Image">Change File</label>
      <input type="file" (change)="upload($event)">
      <button (click)="uploadImage()">Change Image</button>

        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter Name" name="name" [(ngModel)]="itemToUpdate.name">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Age</mat-label>
          <input matInput placeholder="Enter Age" name="age" [(ngModel)]="itemToUpdate.age">
        </mat-form-field>
      </form>
      <button (click)="submit()">Submit</button>
</div>

<!-- iran -->